<div class="card">
    <div class="card-body">
        <form novalidate
              (ngSubmit)="save()"
              [formGroup]="supForm">

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       for="firstNameId">First Name</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="firstNameId"
                           type="text"
                           placeholder="First Name (required)"
                           required
                           minlength="2"
                           formControlName="firstName"
                           [ngClass]="{'is-invalid': (supForm.get('firstName').touched || supForm.get('firstName').dirty) && !supForm.get('firstName').valid }" />
                    <span class="invalid-feedback">
                        <span *ngIf="supForm.get('firstName').errors?.required">
                            Please enter your first name.
                        </span>
                        <span *ngIf="supForm.get('firstName').errors?.minlength">
                            The first name must be longer than 1 characters.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       for="lastNameId">Last Name</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="lastNameId"
                           type="text"
                           placeholder="Last Name (required)"
                           required
                           minlength="2"
                           formControlName="lastName"
                           [ngClass]="{'is-invalid': (supForm.get('lastName').touched || supForm.get('lastName').dirty) && !supForm.get('lastName').valid }" />
                    <span class="invalid-feedback">
                        <span *ngIf="supForm.get('lastName').errors?.required">
                            Please enter your last name.
                        </span>
                        <span *ngIf="supForm.get('lastName').errors?.minlength">
                            The last name must be longer than 1 characters.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       for="emailId">Email</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="emailId"
                           type="email"
                           placeholder="Email (required)"
                           required
                           email
                           formControlName="email"
                           [ngClass]="{'is-invalid': (supForm.get('email').touched || supForm.get('email').dirty) && !supForm.get('email').valid }" />
                    <span class="invalid-feedback">
                        <span *ngIf="supForm.get('email').errors?.required">
                            Please enter your email address.
                        </span>
                        <span *ngIf="supForm.get('email').errors?.email">
                            Please enter a valid email.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       for="activityId">Activity</label>
                <div class="col-md-8">
                    <select class="form-control"
                            id="activityId"
                            name="activity"
                            required
                            formControlName="activity"
                            [ngClass]="{'is-invalid': (supForm.get('activity').touched || supForm.get('activity').dirty) && !supForm.get('activity').valid }">
                        <option *ngFor="let act of activities" [value]="act">{{ act }}</option>
                    </select>
                    <span class="invalid-feedback">
                        <span *ngIf="supForm.get('activity').errors?.required">
                            Please enter an activity.
                        </span>
                        <span *ngIf="supForm.get('activity').errors?.valid">
                            Please enter a valid activity.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-md-2 col-form-label"
                       for="commentId">Comment</label>
                <div class="col-md-8">
                    <input class="form-control"
                           id="commentId"
                           type="text"
                           placeholder="Comment (optional)"
                           maxlength="50"
                           formControlName="comment"
                           [ngClass]="{'is-invalid': !supForm.get('comment').valid }" />
                    <span class="invalid-feedback">
                        <span *ngIf="supForm.get('comment').errors?.maxlength">
                            The last name must be 50 characters or less.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="offset-md-2 col-md-4">
                    <button class="btn btn-primary mr-3"
                            type="submit"
                            style="width: 85px"
                            [title]="supForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                            [disabled]="!supForm.valid">
                        Sign Up
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>
<br>Dirty: {{ supForm.dirty }}
<br>Touched: {{ supForm.touched }}
<br>Valid: {{ supForm.valid }}
<br>Value: {{ supForm.value | json }}